mlendpoints.bulletpages.com {
	encode zstd gzip

	# This will be removed when the site is ready for production
	basic_auth * {
		ben $2a$14$RMfrDvlRosceX4DppxqeN.0WqM0jQ4dl/9g7wrmlaCkE4mnuulYee
	}

	reverse_proxy 127.0.0.1:3000 {
		header_up True-Client-IP {remote_host}
	}
}
