[Unit]
Description=ML Endpoints
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/var/www/ml-endpoints
ExecStart=/home/ubuntu/.bun/bin/bun run index.js
Restart=always

[Install]
WantedBy=multi-user.target
